table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .red-color 
  {
    color: red;
  }
  .blue-color {
    color: blue;
  }

  .mat-header-cell {
    background-color: aquamarine;
    font-weight: bold;
    font-size: large;
  }


  h2{
    text-align: center;
    font-weight: bold;
    color: brown;
    background-color: lightblue ;
  }