<div class="w3-container align-center w3-card login-card">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
    <label class="w3-text-blue"><b>Email</b></label>
    <input class="w3-input w3-border" type="email" formControlName="email" />
    <div
      class="w3-panel w3-red"
      *ngIf="
        loginForm.controls['email'].invalid &&
        (loginForm.controls['email'].dirty ||
          loginForm.controls['email'].touched)
      "
    >
      Please enter valid email address
    </div>

    <label class="w3-text-blue"><b>Password</b></label>
    <input
      class="w3-input w3-border"
      type="password"
      formControlName="password"
    />
    <div
      class="w3-panel w3-red"
      *ngIf="
        loginForm.controls['password'].invalid &&
        (loginForm.controls['password'].dirty ||
          loginForm.controls['password'].touched)
      "
    >
      Password must be at least 6 characters long, and contain a number
    </div>
    <br />
    <button class="w3-btn w3-blue" type="submit" [disabled]="!loginForm.valid">
      Login <i class="w3-medium fa fa-check"></i>
    </button>
  </form>
  <div class="w3-panel w3-blue-gray">
    <h4>Notes :</h4>
    <p>Admin Credentials : admin@yopmail.com &amp; PWD: admin123</p>
    <p>
      Employee Credentials :1) employee@yopmail.com, 2)emp1@yahoo.com, 3)
      emp2@gmail.com, 4)emp3@gmail.com &amp; PWD:1)employee@123, 2)Emp1@123,
      3)Emp2@123, 4)Emp3@123
    </p>
  </div>
</div>
