<section>
  <div class="example-button-row">
    <button mat-button color="primary" (click)="onClick('Bar')">Bar</button>
    <button mat-button color="primary" (click)="onClick('Bubble')">Bubble</button>
    <button mat-button color="primary" (click)="onClick('Doughnut')">Doughnut</button>
    <button mat-button color="primary" (click)="onClick('Line')">Line</button>
    <button mat-button  color="primary" (click)="onClick('Pie')">Pie</button>
    <button mat-button  color="primary" (click)="onClick('Table')">Table</button>
  </div>
</section>

<ng-template appDynamic></ng-template>